.header {
    flex: 0 0 auto;
    background-color: #28293e;
    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 20px 135px 50px 135px;
    }
    &__bar {
        display: flex;
        justify-content: space-between;
        margin: 0 0 60px 0;
    }
    &__logo {
        display: flex;
        align-items: center;
        :not(:last-child) {
            margin: 0 20px 0 0;
        }
    }
    &__image {
        height: 44px;
        width: 46px;
        object-fit: cover;
    }
    &__title {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
    }
    &__contacts {
        display: flex;
        align-items: center;
    }
    &__button {
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 15px 35px;
        text-transform: uppercase;
        transition: all .2s linear;
        &:hover {
            border: 1px solid #ef6d58;;
        }
    }
}
