.gallery {
    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 85px 0 70px 0;
    }
    &__photos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
    &__button {
        background-color: #fff;
        color: #391400;
        font-weight: 900;
        border-radius: 5px;
        text-transform: uppercase;
        padding: 10px 25px;
        margin: 80px auto 0 auto;
    }
    &__select {
        display: none;
        border-radius: 5px;
        padding: 10px;
        margin: 0 0 25px 0;
    }
}

.gallery__nav.nav {
    margin: 0px 0px 60px 0;
    justify-content: center;
    .nav__link {
        color: #391400;
    }
    .nav__link.active {
        color: #16cd53;
    }
}

.card {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(105, 97, 97, 0.9);
    display: flex;
    height: 415px;
    position: relative;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__information {
        position: absolute;
        bottom: 0;
        margin: 10px 10px 50px 50px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: #fff;
        :not(:last-child) {
            margin: 0 0 20px 0;
        }
    }
    &__tag {
        background-color: #fff;
        border-radius: 20px;
        color: #000;
        font-size: 14px;
        padding: 10px 15px;
    }
    &__name {
        font-size: 40px;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(415px - 20px);
    }
}

.card.active {
    border: 2px solid greenyellow;
}
