* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

// /. NULL-STYLES

#root,
.App {
    height: 100%;
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}
