.nav {
    margin: 0 20px;
    display: flex;
    align-items: center;

    &__menu {
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            margin: 0 50px 0 0;
        }
    }

    &__link {
        color: #fff;
        font-weight: 600;
        transition: color .2s linear;

        &:hover {
            color: #ccc;
        }
    }

    &__link.active {
        color: #ef6d58;
    }
}

