.nav {
    margin: 0 20px;
    display: flex;
    align-items: center;

    &__menu {
        display: flex;
    }

    &__item {
        &:not(:last-child) {
            margin: 0 50px 0 0;
        }
    }

    &__link {
        color: #fff;
        font-weight: 600;
        transition: color .2s linear;

        &:hover {
            color: #ccc;
        }
    }

    &__link.active {
        color: #ef6d58;
    }
}

.burger {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 200px;
    width: 100%;
    height: 100%;

    .nav {
        background-color: rgba($color: #000000, $alpha: .55);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 20px 40px;

        &__menu {
            flex-direction: column;
            align-items: flex-start;

            :not(:last-child) {
                margin: 0 0 10px 0;
            }
        }
    }
}